@model IEnumerable<MyEventTrackerOG.Models.Location.LocationListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.LocationId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.LocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.LocationId })
            </td>
        </tr>
}
    </tbody>
</table>
