@model IEnumerable<MyEventTrackerOG.Models.MyEvent.MyEventListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if(TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade initialism" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyEventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MyEventId)
            </td>
            <td>
<a class="controller-link controller-link-flex" asp-action="Details" asp-route-id="@item.MyEventId">
                        @Html.DisplayFor(modelItem => item.EventName)
                    </a>

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.MyEventId }) |
@*                @Html.ActionLink("Details", "Details", new { id=item.MyEventId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id=item.MyEventId })
            </td>
        </tr>
}
    </tbody>
</table>
